html {
    margin:    0 auto;
    max-width: 700px;
}

body {
    max-width: 700px;
}     

a {
	color: #f9fafb;;
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #f9fafb;;
}