body {
  font-family: monospace;
  font-size: 100%;
  background-color: white;
  color: #111;
  min-height: 200px;
  padding: 1em;
  /* margin: 5% 10%; */
  margin: 5% auto 5% auto;
  border: thin solid gray;
  border-radius: 5px;
  display: block;
  text-align: center;
  max-width: 1000px;
}

.hero-image {
margin-bottom: 2em;
  
}

/* .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
} */

a:link    { color: blue; text-decoration: none;      }
a:hover   { color: blue; text-decoration: underline; }
a:visited { color: blue;                             }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

/* #menu li {
    display: inline list-item;
} */

/* #post-list {
    margin-bottom: 1em;
    margin-top: 1em;
} */

pre {
    margin: 2em 1em 2em 4em;
}

#banner {
color: black;
visibility: hidden;
}

/*gumroad  modal */

/* product-display {
  max-width: 500px !important;
}
 */

